<h1>Leads#index</h1>
<p>Find me in app/views/leads/index.html.erb</p>
<%= link_to "Sign Out", destroy_owner_session_path, method: :delete %>
<%= link_to "Create Lead", new_owner_lead_path(@owner)%>
<br>
<br>

All the leads here
<br>
<br>

<br>
<table>
    <tr>
        <th>Lead-name</th>
        <th>Lead-status</th>
        <th>Lead-owner</th>
        <th>Created-at</th>
        <th>Updated-at</th>
        <th>Read</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <% @leads.each do |lead| %>
        <tr>
            <td><%=lead.lead_name%></td>
            <td><%=lead.lead_temp%></td>
            <td><%=lead.owner.name%></td>
            <td><%=lead.created_at.strftime("%m/%d/%Y %I:%M%p")%></td>
            <td><%=lead.updated_at.strftime("%m/%d/%Y %I:%M%p")%></td>
            <td><%= link_to "Read", owner_lead_path(lead.owner_id, lead.id) %></td>
            <td><%= link_to "Update", edit_owner_lead_path(lead.owner_id, lead.id) %></td>
            <td><%= link_to "Delete", owner_lead_path(lead.owner_id, lead.id), method: :delete %><br></td>
        </tr>
    <% end %>
</table>
