<h1>Leads#index</h1>
<p>Find me in app/views/leads/index.html.erb</p>
<%= link_to "Sign Out", destroy_owner_session_path, method: :delete %>
<%= link_to "Create Lead", new_owner_lead_path(@owner)%>
<br>
<br>

All the leads here
<br>
<br>

<br>
<% @leads.each do |lead| %>
    <%=lead.lead_name%><%= link_to "Read", owner_lead_path(lead.owner_id, lead.id) %> <%= link_to "Update", edit_owner_lead_path(lead.owner_id, lead.id) %> <%= link_to "Delete", owner_lead_path(lead.owner_id, lead.id), method: :delete %><br>
<% end %>

