<h1>Leads#show</h1>
<p>Find me in app/views/leads/show.html.erb</p>

<h3>Lead Title</h3>
<%=@lead.lead_name%>
<h3>Lead Phone Number</h3>
<%=@lead.lead_number%>
<h3>Lead Email</h3>
<%=@lead.lead_email%>
<h3>Lead Web-Site</h3>
<%=@lead.lead_web%>
<h3>Lead Temperature</h3>
<%=@lead.lead_temp%>
<h3>Lead Notes</h3><%= link_to "Add Note", new_owner_lead_note_path(@owner, @lead)%>